header {
    position: fixed;
    z-index: 10;

    .bg-custom {
        background-color: $secondaryColor;
    }
    
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        color: white;
        font-size: 17px;
    }

    .text-custom {
        color: white;
    }
}